.todo-list-item{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.todo-list-item input{
    color: red;
}

.todo-list-item .edit-button{
    visibility: hidden;
    background: url(../../assets/edit.svg);
    background-position: center;
    border:none;
    padding: 0;
    border-radius:0;
    width: 20px;
    height: 20px;
}

.todo-list-item:hover .edit-button{
    visibility: visible;
}

.todo-list-item button.on-edit-button {
    padding: 2px;
    font-size: initial;
    visibility: hidden;
}